@import 'https://www.duncanritchie.co.uk/css/main.css';
@import 'https://www.duncanritchie.co.uk/velut-json-generator/main.css';

#__next {
  width: 100%;
}

main {
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
}

input {
  font-size: inherit;
  font-family: "Monaco", "Consolas", monospace;
  width: 100%;
}

label input {
  margin-top: 0.25em;
}

mark {
  background-image: linear-gradient(
    var(--colour1) -25%,
    var(--colour2) 50%,
    var(--colour1) 125%
  );
  border-radius: 0.125em;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
