/* CSS from DuncanRitchie.co.uk is imported in _document.js */

#__next {
  width: 100%;
}

main {
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  align-items: flex-end;
}

input {
  font-size: inherit;
  font-family: "Monaco", "Consolas", monospace;
  width: calc(100% - 1rem);
}

label input {
  margin-top: 0.25em;
}

dfn {
  font-style: normal;
}

mark {
  background-image: linear-gradient(
    var(--colour1) -25%,
    var(--colour2) 50%,
    var(--colour1) 125%
  );
  border-radius: 0.125em;
}
